:root{
  --clr:#fff;
  --clr1:#555;
  --clr2:#0fa;
  --bg:#333;
  --bg1:#222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg);
    color: var(--clr);
  }
  header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header h2{
    color: var(--clr2);
  }
  header nav {
    display: flex;
    font-size: 1.5rem;
  }
  header nav .mode{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav .mode:hover{
    color: var(--clr2);
    cursor: pointer;
  }
  .input-box{
    position: relative;
    width: 50%;
  }
  .search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--clr2);
    font-size: 16px;
    background-color: var(--bg);
    color: var(--clr);
    outline: none;
  }
  .search-input:focus{
    background-color: transparent;
  }
  .search-button {
    background-color: var(--bg);
    color: var(--clr);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    height: 99%;
    width: 50px;
  }
  .search-button:hover{
    color: var(--clr2);
  }
  /* Header End */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1rem;
  }
  .result{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .weather-details{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weather-icon, .city-icon {
    width: 120px;
    height: 120px;
  }
  .temperature {
    font-size: 2.5rem;
    color: var(--clr);
  }
  .description {
    font-size: 1rem;
    color: var(--clr1);
  }
  .location {
    font-size: 24px;
    color: var(--clr);
  }
  .location p{
    font-size: 1rem;
    margin-top: 0.5rem;
    color: var(--clr1);
  }
  .weather-widgets, .cities{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  .widgets-box{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg1);
    width: 180px;
    height: 180px;
    border-radius: 10px;
  }
  .widgets-icon{
    font-size: 2.5rem;
    color: var(--color);
  }
  .widgets-name{
    color: var(--clr1);
  }
  .widgets-details{
    color: var(--clr);
    font-size: 2.5rem;
  }
  .widgets-details span{
    font-size: 1rem;
  }
  .city-box{
    width: 230px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 1px var(--clr);
  }
  .city-box:hover{
    cursor: pointer;
    border: solid 1px var(--clr2);
  }
  .city-temp{
    font-size: 2rem;
    color: var(--clr);
  }
  .city-discription{
    color: var(--clr1);
  }

